@using Model
@using Model.Enum
@model IEnumerable<IStorableObject>

<div class="form-check form-check-inline">
	<input class="form-check-input" type="radio" name="inlineRadioOptions" id="equipment" value="equipment" onclick="setOnlyOneElementVisible(document.querySelector('div#equipmentTableContainer') , document.querySelectorAll('div.tableContainer'))">
	<label class="form-check-label" for="equipment">Оборудование</label>
</div>
<div class="form-check form-check-inline">
	<input class="form-check-input" type="radio" name="inlineRadioOptions" id="material" value="material" onclick="setOnlyOneElementVisible(document.querySelector('div#materialTableContainer') , document.querySelectorAll('div.tableContainer'))">
	<label class="form-check-label" for="material">Материалы</label>
</div>

<div id="storableObjectsContainer">
	@{
		var splitedList = Model.GroupByType();

		// Пытаемся получить список для оборудования
		IEnumerable<Equipment> equipmentList;
		if (!splitedList.TryGetValue(StorableObjectType.Equipment, out var equipmentItems))
		{
			equipmentList = Enumerable.Empty<Equipment>(); // Пустой список, если ключ не найден
		}
		else
		{
			equipmentList = equipmentItems.Cast<Equipment>();
		}

		// Пытаемся получить список для материалов
		IEnumerable<MaterialPiece> materialList;
		if (!splitedList.TryGetValue(StorableObjectType.Material, out var materialItems))
		{
			materialList = Enumerable.Empty<MaterialPiece>(); // Пустой список, если ключ не найден
		}
		else
		{
			materialList = materialItems.Cast<MaterialPiece>();
		}

		<div id="equipmentTableContainer" class="tableContainer">
			@await Html.PartialAsync("EquipmentTable", equipmentList)
		</div>
		<div id="materialTableContainer" class="tableContainer">
			@await Html.PartialAsync("MaterialTable", materialList)
		</div>
	}
</div>
