@model List<Model.Equipment>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Список оборудования</h2>

@await Html.PartialAsync("EquipmentTable", Model)

<script src="~/js/storableObjectScripts.js"></script>
  
<div class="fixed-bottom mx-auto p-3 d-flex justify-content-center bg-white">
    @foreach (Model.Permission prm in ViewBag.PermissionList)
    {
        switch (prm.PermissionType.ToString())
        {
            case "EquipmentAdd":
                <a class="btn btn-primary m-3" asp-controller="StorableObject" asp-action="AddEquipment" asp-route-locationId="@ViewBag.LocationId">Добавить</a>
                break;
            case "EquipmentEdit":
                <button type="button" class="btn btn-primary m-3" onclick="submitReservationRequest(getSelectedCheckboxValues(document.querySelector('#equipmentTable tbody')),@(ViewBag.LocationId))">Создать Резерв</button>
                break;
            case "DeliveryAccess":
                <button type="button" class="btn btn-primary m-3" onclick="submitDeliveryRequest(getSelectedCheckboxValues(document.querySelector('#equipmentTable tbody')),@(ViewBag.LocationId))">Создать доставку</button>
                break;
        }
    }
</div>