@model List<Model.Equipment>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<head>
    <style>
        .fixed-bottom {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #f1f1f1;
            text-align: center;
            padding: 10px;
            box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
        }
    </style>
    <script>
        function getSelectedCheckboxValues() {
            var selectedValues = [];
            var checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
            checkboxes.forEach(function (checkbox) {
                selectedValues.push(checkbox.value);
            });
            return selectedValues;
        }

        function submitDeliveryRequest() {
            var selectedValues = getSelectedCheckboxValues();
            if (selectedValues.length === 0) {
                alert('Пожалуйста, выберите хотя бы один элемент.');
                return;
            }

            // Создание строки параметров запроса
            var params = selectedValues.map(id => 'selectedIds=' + encodeURIComponent(id)).join('&');

            params += '&departureId=' + encodeURIComponent(@ViewBag.LocationId);

            // Отправка GET-запроса
            window.location.href = '/Delivery/Create?' + params;
        }

        function submitReservationRequest() {
            var selectedValues = getSelectedCheckboxValues();
            if (selectedValues.length === 0) {
                alert('Пожалуйста, выберите хотя бы один элемент.');
                return;
            }

            // Создание строки параметров запроса
            var params = selectedValues.map(id => 'selectedIds=' + encodeURIComponent(id)).join('&');

            params += '&locationid=' + encodeURIComponent(@ViewBag.LocationId);

            // Отправка GET-запроса
            window.location.href = '/Reservation/Create?' + params;
        }
    </script>

</head>

<h2>Список оборудования</h2>

@await Html.PartialAsync("EquipmentTable", Model)

<div class="fixed-bottom">
    <a class="btn btn-primary" asp-controller="StorableObject" asp-action="AddEquipment" asp-route-locationId="@ViewBag.LocationId">Добавить</a>
    <button type="button" class="btn btn-primary" onclick="submitDeliveryRequest()">Создать доставку</button>
    <button type="button" class="btn btn-primary" onclick="submitReservationRequest()">Создать Резерв</button>
    <button class="btn btn-info">Изменить</button>
</div>
