@model List<Model.Event.StorableObjectEvent>

<ul class="list-group">
@foreach(var eventEntry in Model)
{
	string stringEntry = Service.EventStringBuilder.EventToString(eventEntry);
	<li class="list-group-item">@stringEntry</li>
}
</ul>