@{
    ViewBag.Title = "Логин";
}

<div class="w-50 mx-auto card p-5">
    <h2>Логин</h2>
    @using (Html.BeginForm())
    {
        <div class="mb-3">
            <label>Имя пользователя</label>
            <input type="text" name="username" class="form-control" />
        </div>
        <div class="mb-3">
            <label>Пароль</label>
            <input type="password" name="password" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
    }
</div>
