@model Model.Event.SentEvent

<script src="~/js/TableFilterMenu.js"></script>
<script src="~/js/tableResizer.js"></script>

@await Html.PartialAsync("StorableObjectsTables",Model.ObjectsInEvent)

<form method="post">
    <div>
        <p>
            <input type="hidden" value="@Model.Id" disabled />
        </p>
        <p>
            <label for="Comment">Комментарий</label><br />
            <input type="text" name="comment" />
        </p>
        <p>
            <label for="DateTime">Дата прибытия</label><br />
            <input type="datetime-local" name="dateTime" min="@(ViewBag.MinDateTimeString)" max="@(ViewBag.MaxDateTimeString)" />
        </p>
        <p>
            <input class="btn btn-success" type="submit" value="Завершить доставку" />
        </p>
    </div>

    @if (ViewBag.Error != null)
    {
        @if (ViewBag.Error)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.ErrorMessage
            </div>
        }
        else
        {
            <div class="alert alert-success" role="alert">
                Добавление успешно
            </div>
        }
    }
</form>
