@model Dictionary<int,string>

<script src="~/js/locationSwitchManager.js"></script>

<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="locationPicker" id="locationRadio_@(EMAS_Web.Filters.LocationFilter.SpecialLocationId)" autocomplete="off" onclick="updateId(this.value); switchLocationIfPossible(this.value);" value="@(EMAS_Web.Filters.LocationFilter.SpecialLocationId)">
    <label class="btn btn-outline-primary" for="locationRadio_@(EMAS_Web.Filters.LocationFilter.SpecialLocationId)">Все</label>
    @foreach (KeyValuePair<int,string> location in Model)
    {
        <input type="radio" class="btn-check" name="locationPicker" id="locationRadio_@(location.Key)" autocomplete="off" onclick="updateId(this.value); switchLocationIfPossible(this.value);" value="@(location.Key)">
        <label class="btn btn-outline-primary" for="locationRadio_@(location.Key)">@location.Value</label>
    }
</div>


<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark locationLink" asp-controller="StorableObject" asp-action="Index" asp-route-locationId="0">Склад</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark locationLink" asp-controller="Delivery" asp-action="Index" asp-route-locationId="0">Доставки</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark locationLink" asp-controller="Reservation" asp-action="Index" asp-route-locationId="0">Резерв</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark locationLink" asp-controller="Archive" asp-action="Index" asp-route-locationId="0">Архив</a>
    </li>
</ul>

<script>
    initLocationSwitch();
</script>

